<!DOCTYPE html>
<html>
 <head>
  <title> Gold & Puffer </title>
 </head>

<body>
<canvas id="myCanvas" width=900 height=700 style="top: 50%; left: 50%; transform: translate(-50%, -50%); position: fixed; border: 1px solid; background:url(http://localhost:8000/images/canvas.png) "></canvas>
<script>

var ctx = myCanvas.getContext("2d"); 
var FPS = 40;                        
var score = 0;                       
var game_over = false;
var initialVelocity = {
    Pufferfish: { x: (Math.random() * 1) + 0.5, y: (Math.random() * 1.5) + 0.5 },
    Fish: { x: (Math.random() * 1) + 0.5, y: (Math.random() * 1.5) + 0.5 }
};
var PufferfishTimeout;
var FishTimeout;
var Paw = new Player("http://localhost:8000/images/pawz1.png");         
var Pufferfish = [];                                                         
var Fish = [];            
var time_remaining = 180; 
addEventListener("keyup", MyKeyUpHandler);
addEventListener("keydown", MyKeyDownHandler);                                                                  


    function Player (img_url) {
        this.x = 0;
        this.y = 0; 
        this.visible= true;
        this.velocity_x = 0;
        this.velocity_y = 0;
        this.MyImg = new Image();
        this.MyImg.src = img_url;
        }

    Player.prototype.Do_Frame_Things = function() {
        if (this.visible) ctx.drawImage(this.MyImg, this.x, this.y); 
    
        if (this.velocity_x !== 0 && this.velocity_y !== 0) {
            this.x += this.velocity_x;
            this.y += this.velocity_y;
        } else {
            if (this.velocity_x !== 0) {
                if ((this.velocity_x < 0 && this.x > 0) || (this.velocity_x > 0 && this.x + this.MyImg.width < myCanvas.width)) {
                    this.x += this.velocity_x;
            }
        }
            if (this.velocity_y !== 0) {
                if ((this.velocity_y < 0 && this.y > 0) || (this.velocity_y > 0 && this.y + this.MyImg.height < myCanvas.height)) {
                    this.y += this.velocity_y;
            }
        }
    }
}
    Player.prototype.GoRandomX = function() {
        this.x = Math.random() * (myCanvas.width - this.MyImg.width); 
        }



    function ImagesTouching(thing1, thing2) {
          if (!thing1.visible  || !thing2.visible) return false;         
          if (thing1.x >= thing2.x + thing2.MyImg.width || thing1.x + thing1.MyImg.width <= thing2.x) return false;   
          if (thing1.y >= thing2.y + thing2.MyImg.height || thing1.y + thing1.MyImg.height <= thing2.y) return false; 
          return true;                                                                                                
          }

    function FishsTouchingPaw(Fishs, Paw) {
        return (
            Paw.x < Fishs.x + Fishs.MyImg.width &&
            Paw.x + Paw.MyImg.width > Fishs.x &&
            Paw.y < Fishs.y + Fishs.MyImg.height &&
            Paw.y + Paw.MyImg.height > Fishs.y
    );
}

    function AddNewPufferfishs() {
        var noPufferfish = new Player("http://localhost:8000/images/pufferfish.png");
            if (Math.random() < 0.5) {
            noPufferfish.velocity_y = initialVelocity.Pufferfish.y;
            noPufferfish.velocity_x = 0; 
        } else {
            noPufferfish.velocity_y = initialVelocity.Pufferfish.y;
            noPufferfish.velocity_x = (Math.random() < 0.5 ? -1 : 1) * initialVelocity.Pufferfish.x;
    }
        noPufferfish.GoRandomX(); 
        Pufferfish.push(noPufferfish);
        setTimeout(AddNewPufferfishs, Math.random() * 5000 / Math.pow(1.1, (Math.log(initialVelocity.Pufferfish.x) / Math.log(1.1))));
}

    function AddNewFishs() {
        var noFish = new Player("http://localhost:8000/images/goldfish.png");
        if (Math.random() < 0.5) {
            noFish.velocity_y = initialVelocity.Fish.y;
            noFish.velocity_x = 0;
        } else {
            noFish.velocity_y = initialVelocity.Fish.y;
            noFish.velocity_x = (Math.random() < 0.5 ? -1 : 1) * initialVelocity.Fish.x;
    }
        noFish.GoRandomX();
        Fish.push(noFish);
        setTimeout(AddNewFishs, Math.random() * 4000 / Math.pow(1.1, (Math.log(initialVelocity.Fish.x) / Math.log(1.1))));
}


    setInterval(function() {
        initialVelocity.Pufferfish.x *= 1.1; 
        initialVelocity.Pufferfish.y *= 1.1;
        initialVelocity.Fish.x *= 1.1;
        initialVelocity.Fish.y *= 1.1;
    }, 10000);


    function restart_game() {
    score = 0;
    game_over = false;
    time_remaining = 180;
    initialVelocity = {
        Pufferfish: { x: (Math.random() * 1) + 0.5, y: (Math.random() * 1) + 0.5 },
        Fish: { x: (Math.random() * 1) + 0.5, y: (Math.random() * 1) + 0.5 }
    };
    Pufferfish = [];
    Fish = [];
    clearTimeout(PufferfishTimeout);
    clearTimeout(FishTimeout);
    AddNewPufferfishs();
    AddNewFishs();
    Paw.x = 0;
    Paw.y = myCanvas.height - Paw.MyImg.height;
}


    function ShowScore() {
        ctx.fillStyle= "white";
        ctx.font = "20px Arial";
        ctx.fillText("Punkti: " + score, 15, 20); 
        }

        function ShowTimer() {
    ctx.fillStyle = "white";
    ctx.font = "20px Arial";
    ctx.fillText("Laiks: " + Math.ceil(time_remaining), myCanvas.width - 105, 20);
}
    function ShowGameOver() {
        ctx.fillStyle= "red";
        ctx.font = "bold 50px Arial";
        ctx.textAlign="center";
        ctx.fillText("Game Over", myCanvas.width / 2, myCanvas.height / 2);  
        ctx.font = "bold 20px Arial";
        ctx.fillText("Press S to play again", myCanvas.width / 2, (myCanvas.height / 2)+50);
        ctx.textAlign="left";
        }


    function Do_a_Frame() {
        ctx.clearRect(0, 0, myCanvas.width, myCanvas.height);   
        ShowScore();                                            
        ShowTimer();
        Paw.Do_Frame_Things();                                  
        ctx.drawImage(Paw.MyImg, Paw.x, Paw.y); 
        if (!game_over) {
            time_remaining -= 1 / FPS; 
            if (time_remaining <= 0) {
            game_over = true;
        }

       for (var i = 0; i < Fish.length; i++) {
            var Fishs = Fish[i];
            Fishs.Do_Frame_Things();
            ctx.drawImage(Fishs.MyImg, Fishs.x, Fishs.y);

        if (FishsTouchingPaw(Fishs, Paw)) {
            Fish.splice(i, 1);
            score += 1; 
    }
        if (Fishs.y + Fishs.MyImg.height > myCanvas.height) {
            Fish.splice(i, 1);
            i--; 
            score -= 1; 
            }
        }

        for (var j = 0; j < Pufferfish.length; j++) {
            var Pufferfishs = Pufferfish[j];
            Pufferfishs.Do_Frame_Things();
            ctx.drawImage(Pufferfishs.MyImg, Pufferfishs.x, Pufferfishs.y);


            if (Pufferfishs.y + Pufferfishs.MyImg.height > myCanvas.height) {
    Pufferfish.splice(j, 1);
    j--; 
    score++; 
            }
        }

        for (var k = 0; k < Pufferfish.length; k++) {
            if (ImagesTouching(Paw, Pufferfish[k])) {
                game_over = true; 
                break; 
            }
        }
    }
    if (game_over) ShowGameOver();
}

    Player.prototype.Do_Frame_Things = function() {
        if ((this.velocity_x < 0) && (this.x > 0))  this.x = this.x + this.velocity_x;

        if ((this.velocity_x > 0) && (this.x + this.MyImg.width < myCanvas.width )) this.x = this.x + this.velocity_x;

        if ((this.velocity_y < 0) && (this.y > 0))  this.y = this.y + this.velocity_y;

        if ((this.velocity_y > 0) && (this.y + this.MyImg.height< myCanvas.height)) this.y = this.y + this.velocity_y;
        }       

    function MyKeyUpHandler (MyEvent) { 
        if (MyEvent.keyCode == 37) {Paw.velocity_x=  0};    
        if (MyEvent.keyCode == 38) {Paw.velocity_y=  0};    
        if (MyEvent.keyCode == 39) {Paw.velocity_x=  0};    
        if (MyEvent.keyCode == 40) {Paw.velocity_y=  0};    
   }

    var quickness = 6

    function MyKeyDownHandler (MyEvent) { 
        if (MyEvent.keyCode == 37) {Paw.velocity_x=  -quickness};     
        if (MyEvent.keyCode == 38) {Paw.velocity_y=  -quickness};      
        if (MyEvent.keyCode == 39) {Paw.velocity_x=   quickness};      
        if (MyEvent.keyCode == 40) {Paw.velocity_y=   quickness};      
        if (MyEvent.keyCode == 83 && game_over) restart_game();    
        MyEvent.preventDefault()
   }

    setInterval(Do_a_Frame, 1000/FPS);                                  
    restart_game();                                                     
</script>
</body>
</html>